{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}

{% block body %}

{% block main %}

  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-white">NexisClo</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 about-us-paragraph">Welcome to Nexis Clo, your ultimate destination for trendy and high-quality clothing. At Nexis Clo, we believe that fashion is a powerful form of self-expression, and we strive to provide unique and stylish apparel that allows you to stand out from the crowd.

Owned by Aviral Ale, Nexis Clo is more than just an ecommerce platform – it's a passionate endeavor to bring you the latest fashion trends, carefully curated with a keen eye for quality and style. We believe that every individual deserves to look and feel their best, and our goal is to empower you with clothing that boosts your confidence and reflects your personal flair.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-light btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://source.unsplash.com/random/1600x900/?clothing" class="d-block mx-lg-auto img-grayscale img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <p class="lead about-us-paragraph">Our collection features a diverse range of apparel, from casual streetwear to chic and elegant pieces, ensuring that there's something for everyone. We source our products from trusted manufacturers who share our commitment to craftsmanship and ethical production practices. This allows us to offer you garments that not only look great but also feel great to wear.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-light btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-white mb-3">Vertically centered hero sign-up form</h1>
        <p class="col-lg-10 fs-4 about-us-paragraph">At Nexis Clo, we understand the importance of exceptional customer service. We strive to provide a seamless shopping experience, from easy navigation on our website to prompt and reliable shipping. Our dedicated customer support team is always ready to assist you with any queries or concerns, ensuring that you have a delightful shopping experience with us.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-dark">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-light" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-white">Border hero with cropped image and shadows</h1>
        <p class="lead about-us-paragraph">We take pride in our attention to detail, from the selection of fabrics to the precision of our designs. Each piece in our collection is thoughtfully crafted to exude style, comfort, and durability. We believe that clothing should be more than just a functional item – it should be an extension of your personality and a source of inspiration.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-light btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Default</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3 img-grayscale" src="https://source.unsplash.com/random/1600x900/?nepal" alt="" width="720">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Dark color hero</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4 about-us-paragraph">Whether you're searching for a statement piece to elevate your everyday style or seeking the perfect outfit for a special occasion, Nexis Clo has you covered. Our passion for fashion drives us to continually explore new trends and bring you the latest in vogue. Stay ahead of the fashion curve with Nexis Clo as your trusted style companion.</p>
                <p class="fs-5 mb-4 about-us-paragraph">Thank you for choosing Nexis Clo. We are excited to embark on this fashion journey with you, and we look forward to being a part of your style story.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-light btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
{% endblock main %}


{% endblock body %}