{% extends 'base.html' %}
{% block title %} 
Men
{% endblock title %}


{% block body %}

{% block main %}
{% for products, range, nColumns in allProducts %}
  <h2 class="fw-bold title-category-men text-white">Men</h2>
  <div class="product-cards-section col-12">
    {% for i in products %}
    <div class="container my-2 page-wrapper col-2">
      <div class="page-inner">
        <div class="row">
          <div class="el-wrapper">
            <div class="box-up">
              <img
                class="img"
                src="../media/{{i.image1}}"
                alt=""
                height="210px"
                style="aspect-ratio: 1/1"
                alt=""
              />
              <div class="img-info">
                <div class="info-inner">
                  <span class="p-name" id="namepr-{{i.id}}">{{i.product_name}}</span>
                  <span class="p-company" id="categorypr-{{i.id}}">{{i.category}}</span>
                </div>
                <div class="a-size">
                  Available sizes : <span class="size">S , M , L , XL</span>
                </div>
              </div>
            </div>

            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>

              <a class="cart" id="viewprod{{i.id}}" href="productview/{{i.id}}">
                <span class="price" id="pricepr-{{i.id}}">NRs. {{i.price}}</span>
                <span class="add-to-cart">
                  <span class="txt">View Product</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:5 and forloop.counter > 0 and not forloop.last %}
    
  </div>
  <div class="product-cards-section">
    {% endif %}

    {% endfor %}

  </div>
</div>
{% endfor %} 
{% endblock main %}


{% endblock body %}